@import './../variables';

.mat-simple-snackbar {
  word-break: break-word;
}

.primary_snackbar {
  background: $color-primary;
  color: white;
}

.accent_snackbar {
  background: $color-accent;
  color: white;
}
