<div class="filter_wrapper">
  <div class="filter_title">
    Filters
  </div>
  <div class="filter_row" *ngFor="let filter of filterItems">
    <ng-container [ngSwitch]="filter.type">
      <div class="filter_row--inner" *ngSwitchCase="filterType.TagsFilter">
        <mh-tags-filter
          [placeholder]="filter.placeholder"
          (updateFilter)="handleUpdateFilter($event, filter)"
          [disabled] = "disabled">
        </mh-tags-filter>
      </div>
      <div class="filter_row--inner" *ngSwitchCase="filterType.DateTimeFilter">
        <mh-datetime-filter
          [value]="filter.value"
          [placeholder]="filter.placeholder"
          (updateFilter)="handleUpdateFilter($event, filter)">
        </mh-datetime-filter>
      </div>
    </ng-container>
  </div>
</div>
