:host ::ng-deep  {
  .mat-form-field-infix{
    width: auto;
  }
  .mat-chip{
    display: inline-flex !important;
    width: auto !important;
  }
  .mat-form-field{
    width: 100%;
  }
  .mat-chip-list-wrapper {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: baseline !important;
  }
}

.filter_wrapper{
  padding-top: 16px;
}

.filter_title{
 text-transform: uppercase;
 margin-bottom: 16px;
}

.filter_row {
  margin-bottom: 16px;
  &:last-child{
    margin-bottom: 0;
  }
}
