<div class="mat-elevation-z8" >
  <table mat-table [dataSource]="modifiedTags">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Tag Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef>Related Notes</th>
      <td mat-cell *matCellDef="let element">{{ element.notes }}</td>
    </ng-container>

    <ng-container matColumnDef="tasks">
      <th mat-header-cell *matHeaderCellDef>Related Tasks</th>
      <td mat-cell *matCellDef="let element">{{ element.tasks }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5,15]" showFirstLastButtons></mat-paginator>
</div>
