<div class="mat-elevation-z8" >
  <table mat-table [dataSource]="viewTags">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Tags</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button class="admin_button" mat-button (click)="openDialog()">Related Notes & Tasks</button>
      </td >
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5,15]" showFirstLastButtons></mat-paginator>
</div>
