<div class="cards_delete_dialog_wrapper">
  <div class="cards_delete_dialog_title">
    Are you sure to delete {{ data.cardType.toLowerCase() }} ?
  </div>
  <div class="cards_delete_dialog_content">
    {{ data.name }}
  </div>
  <div class="cards_delete_dialog_buttons">
    <button class="cards_delete_dialog_button_cancel" type="button" mat-raised-button mat-dialog-close>Cancel</button>
    <button class="mat-primary" mat-raised-button type="button" (click)="closeDialog()">Delete</button>
  </div>
</div>

