<mat-sidenav-container>
    <mat-sidenav class="note_sidenav" #start [opened]="screenWidth >= 780" [mode]="(screenWidth >= 780) ? 'side' : 'over'">
      <div class="note_sidenav_wrapper">
        <button class="mat-primary add_note" mat-raised-button (click)="addNote((screenWidth >= 780) ? null : start)">Add note</button>
        <mh-wrapper-filter
          [filterItems]="filterItems"
          [disabled] = "!isNoteListVisible"
          [tooltip] = "tooltip"
          (wrapFilter)="triggerChangeWrapFilter($event, (screenWidth >= 780) ? null : start)">
        </mh-wrapper-filter>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mh-search-filter
        (searchInput)="triggerChangeSearch($event)"
        [screenWidth]="screenWidth"
        [disabled] = "!isNoteListVisible"
        [tooltip] = "tooltip"
        (toggleFilterSidenav)="start.toggle()">
      </mh-search-filter>
      <div class="note_content">
        <div *ngIf="isNoteListVisible">
          <mh-note-card
            *ngFor="let cardNote of notes"
            [card]="cardNote"
            (updateNote)="updateNote($event)"
            (deleteNote)="deleteNote($event)">
          </mh-note-card>
        </div>
        <mh-note-details *ngIf="!isNoteListVisible"
          [cardNote]="detailedNote"
          (closeDetailedNote)="closeDetailedNoteView()">
        </mh-note-details>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
