<mat-toolbar>
  <div class="system_header" fxLayout="row" fxLayoutAlign=" center">
    <button mat-button mat-icon-button (click)="toggleSidenav.emit()" [ngClass]="{'hide': screenWidth >= 960}">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">menu</mat-icon>
    </button>
    <a mat-button href="/">
      <img class="myhelper_logo" src="/assets/mh_small_logo.png">
    </a>
    <button mat-button [matMenuTriggerFor]="menuRef" class="user_button">
      <div fxLayout="row" fxLayoutAlign="center center">
        <img src="/assets/profile.jpg" alt="">
        <span class="username">{{ user.userName }}</span>
        <mat-icon class="mi-16 mat-icon material-icons">keyboard_arrow_down</mat-icon>
      </div>
    </button>
    <mat-menu #menuRef="matMenu"
      x-position="below"
      y-position="below"
      [overlapTrigger]="false">
        <button mat-menu-item (click)="logOut()">
          <mat-icon class="mat-icon material-icons">exit_to_app</mat-icon>
          <span>Log out</span>
        </button>
    </mat-menu>
  </div>
</mat-toolbar>
