<div>
  <div>
    <div>{{ card.data.name }}</div>
    <div>
      <button mat-button [matMenuTriggerFor]="menuRef">
          Trigger
      </button>

      <mat-menu #menuRef="matMenu">
          <button mat-menu-item>
              edit
          </button>
          <button mat-menu-item>
            delete
        </button>
      </mat-menu>
    </div>
  </div>
  <div>{{ card.data.description }}</div>
  <div>
    <div *ngFor="let tag of card.data.tags">
      {{ tag }}
    </div>
  </div>
</div>

