@import '../../../../../styles/_variables.scss';

.system_sidenav_wrapepr{
  width: 170px;
  background: $color-primary;
  margin-right: 10px;
}

.system_sidenav_item{
  color: #fff;
  &.active{
    background: rgba(0, 0, 0, 0.1);
  }
}

.system_sidenav_link{
  display: flex !important;
  align-items: center;
}

.system_sidenav_link__icon{
  margin-right: 10px;
}
