<div class="cards_page_content" #cardList>
  <ng-container *ngIf="!isLoading">
    <ng-container *ngIf="cards.length > 0; else nocards">
      <mh-person-card
        *ngFor="let card of cards"
        [card]="card">
          <button
            mat-menu-item
            *ngIf="!card.disabled"
            (click)="inviteFriend(card)">
              Invite
          </button>
          <button
            mat-menu-item
            *ngIf="card.disabled"
            [disabled]="card.isReturn"
            (click)="deleteFriend(card)">
              Delete
          </button>
        </mh-person-card>
    </ng-container>
  </ng-container>
  <mh-cards-top-scroll [cardList]="cardList"></mh-cards-top-scroll>
</div>

<ng-template #nocards>
  <div class="no_cards">There are no users!</div>
</ng-template>
