<mat-card class="card" [id]="'card_'+card.data.id">
  <div fxLayout="row" fxLayoutAlign=" center">
    <mat-checkbox
     class="card_task_status"
     [(ngModel)]="card.data.mhTaskStatus"
     (change)="updateTaskStatus()">
    </mat-checkbox>
    <div class="card_name">{{ card.data.name }}</div>
    <div *ngIf="card.data.mhTaskState == mhTaskStates.ReSchedule" class="card_state">
      <mat-chip class="color-black">schedule</mat-chip>
    </div>
    <div class="card_buttons">
      <button mat-icon-button [matMenuTriggerFor]="menuRef">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon>
      </button>
      <mat-menu #menuRef="matMenu">
        <button mat-menu-item (click)="showDescription()">
          {{ expandTitle }}
        </button>
        <button *ngIf="card.data.mhTaskState != mhTaskStates.ReSchedule" mat-menu-item (click)="editCard()">
          Edit
        </button>
        <button mat-menu-item (click)="openDialog()">
          Delete
        </button>
      </mat-menu>
    </div>
  </div>
  <div *ngIf="isExpandCard" class="card_description rich_editor_wrapper" [innerHTML]="card.data.description"></div>
  <div fxLayout="row">
    <mat-chip-list>
        <mat-chip class="mat-accent" selected="true" *ngFor="let tag of card.data.tags">
            {{ tag.name }}
        </mat-chip>
    </mat-chip-list>
    <div class="card_date">{{  card.data.startDate | date: 'MM/dd/yyyy' }}</div>
  </div>
</mat-card>
