<mat-sidenav-container>
  <mat-sidenav class="cards_page_sidenav" #start [opened]="screenWidth >= 780" [mode]="(screenWidth >= 780) ? 'side' : 'over'">
    <div class="cards_page_sidenav_wrapper">
      <mh-wrapper-filter
          [filterItems]="filterItems"
          (updateWrapFilter)="triggerChangeWrapFilter($event, (screenWidth >= 780) ? null : start)">
        </mh-wrapper-filter>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mh-loader></mh-loader>
    <div class="cards_page_content" #cardList>
      <button
        *ngIf="newCards.length > 0"
         class="mat-primary"
         (click)="showNewFeeds()"
         mat-raised-button>
          {{ newCards.length }} new feeds
      </button>
      <div>
        <ng-container *ngIf="!isLoading">
          <ng-container *ngIf="cards.length > 0; else nocards">
            <mh-feed-card
              *ngFor="let card of cards"
              [card]="card">
            </mh-feed-card>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <mh-cards-top-scroll [cardList]="cardList"></mh-cards-top-scroll>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #nocards>
  <div class="no_cards">There are no feeds!</div>
</ng-template>
