<mat-form-field>
  <mat-chip-list class="mat-chip-list-stacked" #filterChipList aria-orientation="vertical">
    <mat-chip *ngFor="let tag of selectedTags" [removable]="removable" (remove)="removeTag(tag)">
      {{tag.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="{{placeholder}}"
      [matChipInputFor]="filterChipList"
      [matAutocomplete]="auto"
      [formControl]="tagCtrl"
      [attr.disabled]="disabled ? 'true': null"
    />
  </mat-chip-list>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let tag of reactiveTags | async" [value]="tag.name" (onSelectionChange)="selectTag(tag)">
    <span>{{ tag.name }}</span>
  </mat-option>
</mat-autocomplete>
