.card_feed_type {
  font-style: italic;
  margin-left: 5px;

  &:before {
    content: '|';
  }
}

.card_name--feed {
  margin-bottom: 10px;
  font-size: 14px !important;
}

.card_description--feed {
  margin-bottom: 15px;
  max-height: 200px;
  overflow-y: auto;
  padding-bottom: 0;
}
