@import '_variables.scss';

body,html {
  height: 100%;
  overflow-y: hidden;
}

body {
  background: $color-main-background;
  color: $color-font-primary;
  font-size: 14px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.page_centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  display: none !important;
}

.pointer-events-none{
  pointer-events: none !important;
}

// material icons
.mi-16{
  font-size: 16px!important;
  width: 16px!important;
  height: 16px!important;
}

@media (max-width: 959px){
  .mat-toolbar-row, .mat-toolbar-single-row{
    padding: 0 !important;
  }

  .system_sidenav{
    background: white !important;
  }

  .system_sidenav_wrapepr{
    margin-right: 0 !important;
    background: none !important;
  }

  .mat-list-item{
    color: $color-primary !important;
    .mat-line{
      outline: none;
    }
  }

  .myhelper_logo{
    margin-left: 10px;
  }
}

@media (max-width: 599px){
  .user_button {
      height: 56px !important;
  }
}
