@import '_variables.scss';

body,html {
  height: 100%;
  overflow: hidden;
}

body {
  background: $color-main-background;
  color: $color-font-primary;
  font-size: 14px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.page_centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// material icons
.mi-16{
  font-size: 16px!important;
  width: 16px!important;
  height: 16px!important;
}
