@import '_variables.scss';
body,html {
  height: 100%;
  overflow: hidden;
}

body {
  background: $color-main-background;
  color: $color-font-primary;
  font-size: 14px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.page_centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.system_conatainer{
  height: 100%;
}

.system_body{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: 100%;

  .mat-sidenav-container {
    display: flex;
    flex: 1;
  }

  .mat-sidenav-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    height: 100vh;
  }
}

.system_sidenav, .note_sidenav{
  background: transparent;
}

.mi-16{
  font-size: 16px!important;
  width: 16px!important;
  height: 16px!important;
}

// delete dialog
.dialog_delete_wrapper {
  min-width: 320px;
  box-sizing:border-box;
  padding:65px 80px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.dialog_delete_title{
  font-size: 16px;
  margin-bottom: 15px;
}

.dialog_delete_content{
  font-size: 20px;
}

.dialog_buttons{
  margin-top: 25px;
  .dialog_delete_button_cancel{
    margin-right: 35px;
  }
}


