@import '_variables.scss';
html, body {
    margin: 0;
    padding: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

// fix error input form field
mat-form-field.mat-form-field-invalid {
    .mat-form-field-label {
        color: $color-primary !important;

        .mat-form-field-required-marker {
            color: $color-primary !important;
        }

    }

    .mat-form-field-underline {
        border-top-width: 1px !important;
        border-color: $color-primary !important;
    }

    .mat-form-field-ripple {
        background-color: $color-primary !important;
    }
}

.mat-form-field-wrapper {
    padding-bottom: 2px !important;
}

.mat-form-field-underline {
    bottom: 0 !important;
}

.mat-drawer-side {
  border: none !important;
}

// fix autofill password
mat-form-field {
    .mat-input-element[type=password]:-webkit-autofill {
        &+ .mat-form-field-label-wrapper {
            label:not(.md-no-float) {
                transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.001px);
            }
        }
    }
}

.mat-dialog-container {
    padding: 0 !important;
}

.mat-chip {
  font-size: 12px;
  line-height: normal;
}

.mat-accent {
  color: #fff !important;
}
