@import '_variables.scss';
html, body {
    margin: 0;
    padding: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

// fix error input form field
mat-form-field.ng-invalid {
    .mat-input-placeholder {
        color: $color-primary;

        .mat-form-field-required-marker {
            color: $color-primary;
        }

    }

    .mat-input-underline {
        border-top-width: 1px;
        border-color: $color-primary;
    }

    .mat-input-ripple {
        background-color: $color-primary;
    }
}

mat-form-field.mat-form-field-type-mat-chip-list {
  .mat-form-field-empty {
    color: $color-primary;
  }
}

.mat-form-field-wrapper {
    padding-bottom: 2px;
}

.mat-form-field-underline {
    bottom: 0;
}

// fix autofill password
mat-form-field {
    .mat-input-element[type=password]:-webkit-autofill {
        &+ .mat-input-placeholder-wrapper {
            label:not(.md-no-float) {
                transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.001px);
            }
        }
    }
}

.mat-dialog-container {
    padding: 0 !important;
}

.mat-chip {
  font-size: 12px;
  line-height: normal;
  color: #fff !important;
}
