<mat-card>
  <form #editCardForm="ngForm">
    <div class="card_details_row">
      <mat-form-field>
          <input matInput
                  [(ngModel)]="editCardModel.name"
                  name="name"
                  #name="ngModel"
                  required
                  placeholder="Name">
      </mat-form-field>
      <mat-hint *ngIf="editCardForm.submitted && (!name.pristine || !name.valid)">
          <span [hidden]="!name.errors?.required">Name is required.</span>
      </mat-hint>
    </div>
    <div class="card_details_row">
      <ngx-wig
        [(ngModel)]="editCardModel.description"
        name="description"
        mhNoWhiteSpace
        #description="ngModel"
        [isSourceModeAllowed]="true"
        [placeholder]="'Enter description here'">
      </ngx-wig>
      <mat-hint *ngIf="editCardForm.submitted && (!description.pristine || !description.valid)">
          <span [hidden]="!description.errors?.whitespace">Description is required.</span>
      </mat-hint>
    </div>
    <div class="card_details_row">
        <mat-form-field>
          <mat-chip-list #chipList required>
            <mat-chip
              class="color-black"
              *ngFor="let tag of editCardModel.tags"
               [selectable]="selectable"
               [removable]="removable"
               (removed)="removeTag(tag)">
              {{tag.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Tags"
                   [matChipInputFor]="chipList"
                   (matChipInputTokenEnd)="addTag($event)"
                   [matAutocomplete]="auto"
                   [formControl]="tagCtrl"/>
          </mat-chip-list>
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let tag of reactiveTags | async" [value]="tag.name" (onSelectionChange)="selectTag(tag)">
                <span>{{ tag.name }}</span>
            </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="editCardForm.submitted && !tagCtrl.valid">
          <span>Tags is required.</span>
      </mat-hint>
    </div>
    <div class="card_details_row">
      <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
      <button class="mat-primary" mat-raised-button (click)="onSave(editCardForm)">Save</button>
    </div>
  </form>
</mat-card>
