:host{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

:host::ng-deep{
  .mat-tab-group{
    height: 100%;
  }

  .mat-tab-body-wrapper{
    flex-direction: column;
    height: 100%;
  }
}


